<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <rule name="CorsPreflightRule" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </conditions>
                    <action type="CustomResponse" statusCode="204" statusReason="No Content" statusDescription="No Content" />
                </rule>
                <rule name="ApiRoutingRule" stopProcessing="true">
                    <match url="(/|^)(signalr/|api/)(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8080/{R:2}{R:3}" />
                </rule>
                <rule name="SwaggerRoutingRule" enabled="false" stopProcessing="true">
                    <match url="(/|^)(swagger/)(.*)" />
                    <serverVariables>
                        <set name="HTTP_IISORIGINATINGSERVER" value="https://{HTTP_HOST}{URL}" replace="false" />
                    </serverVariables>
                    <action type="Rewrite" url="http://127.0.0.1:8080/{R:2}{R:3}" />
                </rule>
      </rules>
      <outboundRules>
                <remove name="Remove_Server_header" />
                <rule name="SignalrHandshakeRule" preCondition="IsURLEncoded" enabled="true" stopProcessing="true">
                    <match filterByTags="None" pattern="(.*)/signalr(.*)" />
                    <action type="Rewrite" value="{R:1}/wsi/signalr{R:2}" />
                </rule>
                <rule name="Remove_Server_header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
                <rule name="Remove_XPoweredBy_header">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
                <rule name="Remove_XAspnet_header">
                    <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
        <preConditions>
          <preCondition name="IsURLEncoded">
            <add input="{PATH_INFO}" pattern="/signalr/negotiate" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <allowedServerVariables>
                <add name="HTTP_IISORIGINATINGSERVER" />
      </allowedServerVariables>
    </rewrite>
    <security>
      <access sslFlags="Ssl, SslNegotiateCert"></access>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions>
          <clear />
        </fileExtensions>
		<requestLimits maxQueryString="4000" />
		<!-- Defect 2507808: This maxQueryString value is set to handle failing signalr request query length validation in case of openId login, 
		this is set to 4000 after testing openId login with few identity providers, if the same problem is faced for any 
		identity provider configuration, it is recommended to increase this limit. -->
      </requestFiltering>
    </security>
    <serverRuntime uploadReadAheadSize="10000000" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="https://localhost" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Authorization, Content-Type, X-Requested-With" />
        <add name="Access-Control-Max-Age" value="86400" />
        <add name="Vary" value="Origin" />
        <remove name="X-Powered-By" />
        <add name="X-XSS-Protection" value="1;mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="default-src  'self' 'unsafe-inline' 'unsafe-eval'  " />
        <add name="X-Frame-Options" value="sameorigin" />
		<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
      </customHeaders>
    </httpProtocol>
    <handlers accessPolicy="Read, Script">
      <remove name="PageHandlerFactory-Integrated-4.0" />
      <remove name="WebDAV" />
      <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,UNLOCK" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-Integrated-4.0" />
      <remove name="WebAdminHandler-Integrated-4.0" />
      <remove name="vbhtml-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-4.0_32bit" />
      <remove name="cshtm-ISAPI-4.0_32bit" />
      <remove name="cshtml-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="vbhtm-ISAPI-4.0_32bit" />
      <remove name="vbhtml-ISAPI-4.0_32bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="AssemblyResourceLoader-Integrated-4.0" />
      <remove name="aspq-ISAPI-4.0_32bit" />
      <remove name="aspq-Integrated-4.0" />
      <remove name="vbhtml-Integrated-4.0" />
      <remove name="vbhtm-ISAPI-4.0_64bit" />
      <remove name="vbhtm-Integrated-4.0" />
      <remove name="TRACEVerbHandler" />
      <remove name="TraceHandler-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="ScriptResourceIntegrated-4.0" />
      <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
      <remove name="cshtml-Integrated-4.0" />
      <remove name="cshtm-Integrated-4.0" />
      <remove name="cshtm-ISAPI-4.0_64bit" />
      <remove name="cshtml-ISAPI-4.0_64bit" />
      <remove name="AXD-ISAPI-4.0_64bit" />
      <remove name="aspq-ISAPI-4.0_64bit" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpRuntime enableVersionHeader="false" requestPathInvalidCharacters="" />
  </system.web>
</configuration>
